body {
    background: navy
}

#wrapper {
    width: 75%;
    margin: 0 auto;
    background-color:red;
    padding: 30px;
}
.qbox1 {
    margin: 20px;
    border: 25px solid black;
    padding: 10px 30px;
    width: 500px;
    border-radius: 90px;
    box-sizing: border-box;
}

.qbox2 {
    margin: 20px;
    border: 40px dotted yellow;
    padding: 30px 50px;
    width: 500px;
    background: #f1a0fa;
    border-radius: 90px;
    box-sizing: border-box;
}
.qbox3 {
    margin: 20px;
    border: 30px double darkred;
    padding: 30px 80px;
    width: 500px;
    background: tan;
    border-radius: 90px;
    box-sizing: border-box;
}
