body{
    background-color: black;
    margin: 0 auto;
}
#content{ 
    max-width: 1600px;
    margin: 0 auto;
    background-color: green;
}
#nav{
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
#button-box{
    text-align: center;
}
#main section{
    text-align: center;
}
header{background-color: green}
nav a:hover{
    text-decoration: none;
    background-color: green;
}
.book{
    text-decoration: none;
    background-color: green:
}
.join{
    text-decoration: none;
    background-color: green;
}
.book:hover{background-color: green;}
.join:hover{background-color: green;}
#background{
    height: 725px;
    background-color: green;
}
.msg{background-color: green;}
footer{
    text-decoration: none;
    background-color: green;
}
.icon{
width: 80px;
}